html{
  background-color: white;
  min-height: 100vh;
  transition: opacity 2s ease-in;
  scroll-behavior: smooth;
  font-size: 1em;
  margin: 0 !important;
}

h1{
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: black;
  margin: 0.5em 0 0.1em 0;
}

.blue{
  text-transform: none;
  color: #184ebf;
}

h2{
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 1.4em;
  margin: 0;
}

h3{
  font-family: "Noto Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1em;
  margin: 0;
  line-height: 1.8em;
}

p, li, figcaption{
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  margin: 0.5em 0;
  color: #7f7f7f
}

figure{
  margin: 0;
  padding: 0;
}

li{
  padding-left: 0;
  margin: 0;
}

ul{
  padding-left: 1.2em;
}

a{
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}



.underline {
  text-decoration: none;
  display: inline-block;
}

.underline::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: #184ebf;
    transition: width .3s;
}

a:hover .underline::after {
    width: 100%;
    transition: width .3s;
}



body{
  display: grid;
  grid-template-columns: minmax(36px, 1fr) minmax(auto, 1008px) minmax(36px, 1fr);
}

header{
  grid-column: 2 / span 1;
  min-height: 60vh;
}

#nav{
  margin: 36px 0 20vh 0;
}

.split {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

#logo{
  height: 100%;
  filter: grayscale(1);
  transition: filter 0.1s ease-in-out;
  height: 4em;
  width: auto;
  padding-right: 2em;
  border: none;
}

#logo:hover{
  filter: grayscale(0);
  transition: filter 0.1s ease-in-out;
}

.fade-in{
  opacity: 0;
  -webkit-transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  -ms-transition: opacity 0.1s ease-in-out;
  -o-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}

.load{
  opacity: 1;
}

.intext{
  width: 0.7em;
  padding-right: 0.3em;
  display: inline;
}

.content {
  grid-column: 2/span 1;
}

.project{
  margin: 6em 0;
}

.project img{
  width: 100%;
  margin-bottom: 0.5em;
}

.back-to{
  text-transform: uppercase;
  text-align: left;
}

.caption{
  margin-top: 0;
}

.left{
  margin: 2em 0;
  grid-column: 1/ span 1;
}

.right{
  margin: 2em 0;
  grid-column: 3/ span 1;
}

.full-span{
  margin: 2em 0;
  grid-column: 1/span 3;
  width: 100%;
}

.project-list{
  margin-bottom: 4em;
}

.project-img{
  width: 100%;
}

.project-img-halfwidth{
  margin-top: 1em;
  width: 100%;
}

#copyright{
  grid-column: 1/span 3;
  font-size: 0.7em;
  text-align: center;
  margin-top: 6em;
}

#portrait{
  width: 100%;
}

footer{
  margin: 2em 0;
  grid-column: 2/span 1;
}

@media screen and (min-width: 1800){
  html{
    font-size: 2em;
  }
}

@media screen and (max-width: 780px) {
  html{
    font-size: 1em;
  }

  #nav{
    margin-top: 21px;
  }

  h1{
    font-size: 1.8em;
  }

  h2{
    font-size: 1.4em;
  }

  body{
    grid-template-columns: minmax(28px, 1fr) minmax(auto, 1080px) minmax(28px, 1fr);
  }

  .container, .cv-container{
    display: block;
  }

  footer .split {
    display: block;
  }

  footer .split div {
    margin-top: 3em;
  }
}

.fade {
    opacity: 1;
    transition: 3s opacity;
}
.fade.fade-out {
    opacity: 0;
    transition: none;
}

@media screen and (max-width: 540px) {
  html{
    font-size: 0.9em;
  }

  body{
    grid-template-columns: minmax(21px, 1fr) minmax(auto, 1080px) minmax(21px, 1fr);
  }

  footer .split div {
    margin-top: 3em;
  }
}
