html{
  background-color: white;
  min-height: 100vh;
  transition: opacity 2s ease-in;
  scroll-behavior: smooth;
  font-size: 1em;
  margin: 0;
  padding: 0;
}

h1{
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: black;
  padding: 0.5em 0 0.5em 0;
}

.blue{
  text-transform: none;
  color: #4bffa5;
}

h2{
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 1.4em;
  padding: 1em 0 0.5em 0;
  margin: 0;
}

h3{
  font-family: "Noto Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1em;
  margin: 0;
  line-height: 1.8em;
}

h4{
  font-family: "Noto Sans", sans-serif;
  font-weight: 500;
  font-size: 1em;
  margin: 0;
  line-height: 2em;
}

p, li, figcaption{
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  margin: 0.5em 0;
  color: #7f7f7f
}

figure{
  margin: 0;
  padding: 0;
}

li{
  padding-left: 0;
  margin: 0;
}

ul{
  padding-left: 1.2em;
}

a{
  color: black;
  text-decoration: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.underline::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: #4bffa5;
    transition: width .3s;
    margin-bottom: -4px;
}

.underline:hover::after {
    width: 100%;
    transition: width .3s;
}

body{
  display: grid;
  grid-template-columns: minmax(36px, 1fr) minmax(auto, 1080px) minmax(36px, 1fr);
  margin: 0;
  padding: 0;
}

header{
  grid-column: 2 / span 1;
}

#info, #about{
  position: relative;
  padding: 250px 0 5em 0;
}

#nav{
  padding: 1em 0;
  position: fixed;
  max-width: 1440px;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
}

#nav * {
  padding: 0 1em;
  display: inline-block;
}

.split {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

#logo{
  height: 100%;
  filter: brightness(0%);
  transition: filter 0.2s ease-in-out;
  height: 4em;
  width: auto;
  padding-right: 2em;
}

#logo:hover{
  filter: brightness(100%);
  transition: filter 0.2s ease-in-out;
}

.intext{
  width: 0.7em;
  padding-right: 0.3em;
  display: inline;
}

.content {
  grid-column: 2/span 1;
  width: 100%;
}

.project{
  margin: 0 0 4em 0;
  width: 100%;
  height: auto;
  position: relative;
}

img{
  width: 100%;
}

.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(75,255,165, 0.8);
  opacity: 0;
  transition: all .3s ease-in-out;
}

.overlay:hover{
  background-color: rgb(75,255,165, 0.8);
  opacity: 1;
  transition: all .2s ease-in-out;
}

.vertical{
  opacity: 1;
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.halfwidth{
  max-width: 50%;
  padding: 2em 0;
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.caption{
  margin-top: 0;
}

.left{
  margin: 2em;
  grid-column: 1/ span 1;
  text-align: center;
}

.middle{
  margin: 2em;
  grid-column: 2/ span 1;
  text-align: center;
}

.right{
  margin: 2em;
  grid-column: 3/ span 1;
  text-align: center;
}

.full-span{
  margin: 2em 0;
  grid-column: 1/span 3;
  width: 100%;
}

.project-list{
  margin-bottom: 4em;
}

.project-img{
  width: 100%;
}

.project-img-halfwidth{
  margin-top: 1em;
  width: 100%;
}

#copyright{
  grid-column: 1/span 3;
  font-size: 0.7em;
  text-align: center;
}

footer{
  padding: 2em 0 2em 0;
  grid-column: 1/span 3;
  background: #F4F4F4;
}

.footer-content{
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1800){
  html{
    font-size: 2em;
  }
}

@media screen and (max-width: 780px) {
  html{
    font-size: 1em;
  }

  #nav{
    margin-top: 21px;
  }

  h1{
    font-size: 1.8em;
  }

  h2{
    font-size: 1.4em;
  }

  body{
    grid-template-columns: minmax(28px, 1fr) minmax(auto, 1080px) minmax(28px, 1fr);
  }

  .container, .cv-container{
    display: block;
  }

  footer .split {
    display: block;
  }

  footer .split div {
    margin-top: 3em;
  }
}

@media screen and (max-width: 540px) {
  html{
    font-size: 0.9em;
  }

  body{
    grid-template-columns: minmax(21px, 1fr) minmax(auto, 1080px) minmax(21px, 1fr);
  }

  footer .split div {
    margin-top: 3em;
  }
}
