html{
  background-color: white;
  min-height: 100vh;
  transition: opacity 2s ease-in;
  scroll-behavior: smooth;
  font-size: 1em;
  margin: 0 !important;
}

h1{
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: black;
  padding: 0.5em 0 0.5em 0;
}

.blue{
  text-transform: none;
  color: blue;
}

h2{
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 1.4em;
  margin: 0;
}

h3{
  font-family: "Noto Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1em;
  margin: 0;
  line-height: 1.8em;
}

p, li, figcaption{
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 0.9em;
  margin: 0.5em 0;
  color: #7f7f7f
}

figure{
  margin: 0;
  padding: 0;
}

li{
  padding-left: 0;
  margin: 0;
}

ul{
  padding-left: 1.2em;
}

a{
  color: black;
  text-decoration: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.underline::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background: blue;
    transition: width .3s;
    margin-bottom: -4px;
}

.underline:hover::after {
    width: 100%;
    transition: width .3s;
}

body{
  display: grid;
  grid-template-columns: minmax(36px, 1fr) minmax(auto, 1080px) minmax(36px, 1fr);
}

header{
  grid-column: 2 / span 1;
}

#info, #about{
  position: relative;
  padding: 250px 0 5em 0;
}

#nav{
  padding: 1em 0;
  position: fixed;
  max-width: 1440px;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 10;
}

#nav * {
  padding: 0 1em;
  display: inline-block;
}

.split {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

#logo{
  height: 100%;
  filter: grayscale(1);
  transition: filter 0.1s ease-in-out;
  height: 4em;
  width: auto;
  padding-right: 2em;
}

#logo:hover{
  filter: grayscale(0);
  transition: filter 0.1s ease-in-out;
}

.intext{
  width: 0.7em;
  padding-right: 0.3em;
  display: inline;
}

.content {
  grid-column: 2/span 1;
  width: 100%;
  overflow: visible;
}

.project{
  margin: 24px 0;
  width: 100%;
  height: auto;
  position: relative;
  overflow: visible;
}

/* .project::before{
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  position: absolute;
  background: blue;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.project:hover::before{
  background: blue;
  opacity: 0.8;
  transition: all .3s ease-in-out;
} */

.project img{
  transition: all .3s ease;
}

.project img:hover{
  transform: scale(1.01);
  box-shadow: 0px 5px 30px -5px #E5E5E5;
}

.halfwidth{
  max-width: 50%;
  padding-bottom: 2em;
}


.caption{
  margin-top: 0;
}

.left{
  margin: 2em 0;
  grid-column: 1/ span 1;
}

.right{
  margin: 2em 0;
  grid-column: 3/ span 1;
}

.full-span{
  margin: 2em 0;
  grid-column: 1/span 3;
  width: 100%;
}

.project-list{
  margin-bottom: 4em;
}

.project-img{
  width: 100%;
}

.project-img-halfwidth{
  margin-top: 1em;
  width: 100%;
}

#copyright{
  grid-column: 1/span 3;
  font-size: 0.7em;
  text-align: center;
  margin-top: 6em;
}

#portrait{
  width: 100%;
}

footer{
  margin: 2em 0;
  grid-column: 2/span 1;
}

@media screen and (min-width: 1800){
  html{
    font-size: 2em;
  }
}

@media screen and (max-width: 780px) {
  html{
    font-size: 1em;
  }

  #nav{
    margin-top: 21px;
  }

  h1{
    font-size: 1.8em;
  }

  h2{
    font-size: 1.4em;
  }

  body{
    grid-template-columns: minmax(28px, 1fr) minmax(auto, 1080px) minmax(28px, 1fr);
  }

  .container, .cv-container{
    display: block;
  }

  footer .split {
    display: block;
  }

  footer .split div {
    margin-top: 3em;
  }
}

@media screen and (max-width: 540px) {
  html{
    font-size: 0.9em;
  }

  body{
    grid-template-columns: minmax(21px, 1fr) minmax(auto, 1080px) minmax(21px, 1fr);
  }

  footer .split div {
    margin-top: 3em;
  }
}
