<div id="aboutheader" class="block">

  <div class="header-text">
    <h1>I'm Eric Cross,<span class="not-bold"> a CodeClan student and product designer based in Edinburgh, UK.</span><h3></h1>
    <h3 id="readmore"><img class="intext" src="images/xicon.png" alt="x marks the spot"><span class="jslink">READ MORE</span></h3>
  </div>

  <div id="aboutme">

    <h1 class="not-bold">I'm currently studying in a 16 week software development course at <a href="https://codeclan.com/">CodeClan</a> to gain insight into the software development process as it applies to UX design.</h1>
    <h1 class="not-bold">I had a previous life as an industrial designer where I designed ergonomic furniture with <a href="http://www.ito-design.com/">ITO Design</a> in Switzerland, imagined future retail experiences at <a href="http://blueskydesigngroup.com.au/">Blue Sky Design Group</a> in Sydney and freelanced across multiple companies, countries and time-zones.</h1>
    <h1 class="not-bold">Looking for new opportunities in <br><strong>UX design.</strong></h1>
    <div class="container">
      <div class="left">
        <img id="portrait" src="images/portrait.jpg" alt="eric's portrait">
        <h3 id="readless"><img class="intext" src="images/xicon.png" alt="x marks the spot"><span class="jslink">READ LESS</span></h3>
      </div>
    </div>

  </div>
</div>

<div class="block">
  <div class="project-list">
    <h1><a href="/getwork">Getwork</a><span class="not-bold"> application tracker for job seekers</span></h1>
    <h3><img class="intext" src="images/xicon.png" alt="x marks the spot">Ruby Desktop Application designed at CodeClan <span class="not-bold">UX Design / Digital Product Design / NodeJS Development</span></h3>
  </div>

  <div class="project-list">
    <h1><a href="/treetrip">Treetrip</a><span class="not-bold"> carbon impact calculator</span></h1>
    <h3><img class="intext" src="images/xicon.png" alt="x marks the spot">JS Web Application designed at CodeClan <span class="not-bold">Digital Product Design / NodeJS Development</span></h3>
  </div>

  <div class="project-list">
    <h1><a href="/treetrip">Dialogue</a><span class="not-bold"> supply management solution for ICUs</span></h1>
    <h3><img class="intext" src="images/xicon.png" alt="x marks the spot">Thesis Project at Carleton University <span class="not-bold">Design Research / Industrial Design</span></h3>
  </div>

  <div class="project-list">
    <h1><a href="/treetrip">Ellie</a><span class="not-bold"> ergonomic office chair family</span></h1>
    <h3><img class="intext" src="images/xicon.png" alt="x marks the spot">ITO Design for Profim <span class="not-bold">Market Research / Design Strategy / Design Workshops / Industrial Design</span></h3>
  </div>

  <div class="project-list">
    <h1><a href="/treetrip">Next Generation</a><span class="not-bold"> retail banking strategy</span></h1>
    <h3><img class="intext" src="images/xicon.png" alt="x marks the spot">Blue Sky Design Group for ANZ <span class="not-bold">Design Research / Design Strategy / Experience Design / Customer Flow / Industrial Design</span></h3>
  </div>
</div>

<!-- <div class="block">
  <div class="container">
    <div class="left">
      <h3>Professional Experience</h3>
      <ul>
        <li>Freelance Designer<br>Self-Employed / Currently Edinburgh, UK<br>Feb 15-Ongoing</li>
        <li>Product Designer<br><a href="http://www.ito-design.com/">ITO Design</a> / Cham, Switzerland<br>June 16-Sept 18</li>
        <li>Product Design Intern<br><a href="https://www.otilumionics.com/">OTI Lumionics</a> / Toronto, Canada<br>May 15-Aug 15</li>
        <li>Experience Design Intern<br><a href="http://blueskydesigngroup.com.au/">Blue Sky Design Group</a> / Sydney, Australia<br>June 14-Dec 14</li>
      </ul>
    </div>
    <div class="right">
      <h3>Education</h3>
      <ul>
        <li>SQA Level 8 in Software Development<br><a href="https://codeclan.com/">CodeClan</a> / Edinburgh, UK<br>Feb 19-Ongoing</li>
        <li>Bachelors of Industrial Design<br><a href="https://carleton.ca/id/bid/">Carleton University</a> / Ottawa, Canada<br>Sept 11-June 16</li>
        <li>Academic Exchange<br><a href="https://www.monash.edu/study/courses/majors-minors-specialisations/2019/specialisations/industrial-design-xs0128">Monash University</a> / Melbourne, Australia<br>Feb 14-June 14</li>
      </ul>
      <h3>Awards</h3>
      <ul>
        <li>Red Dot Design / Qua Chair / ITO Design<br>Sept 2019</li>
        <li>Provost Scholar Award / Carleton University<br>June 2016</li>
      </ul>
    </div>
  </div>
</div> -->
