<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style/main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
    <script src="js/app.js"></script>
    <title>Eric Cross / Portfolio</title>
  </head>

  <body>
    <header>
      <div class="split">
        <a id="logo" href="/"><img src="images/xicon.png" alt="x marks the spot"></a>
        <h3 id="navbar" class="not-bold"><a href="mailto: eric.cross@sympatico.ca">Email</a> / <a href="https://www.linkedin.com/in/ericxcross/">LinkedIn</a> / <a href="https://www.instagram.com/ericxcross/?hl=en">Instagram</a> / <a href="https://github.com/ericxcross">GitHub</a></h3>
      </div>
    </header>

    <%= yield %>

    <footer class="block">
      <div class="split">
        <div>
          <h3>Eric Cross</h3>
          <p><a href="mailto: eric.cross@sympatico.ca">eric.cross@sympatico.ca</a></p>
        </div>
        <div>
          <h3>Social Media</h3>
          <p><a href="https://www.linkedin.com/in/ericxcross/">LinkedIn</a> / <a href="https://www.instagram.com/ericxcross/?hl=en">Instagram</a> / <a href="https://github.com/ericxcross">GitHub</a></p>
        </div>
      </div>
      <p id="copyright">Website set in Noto Sans and served by Google Fonts. All other content on this site is produced and &copy; Copyright 2019 by Eric Cross / Website hosted with GitHub pages</p>
    </footer>

  </body>
</html>
